<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">
	<!-- <base href="/"> -->

	<title>Интернет-магазин. Корзина</title>
	<meta name="description" content="Тестовый интернет-магазин. Корзина, редактирование и переход на оформление заказа">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!-- Template Basic Images Start -->
	<meta property="og:image" content="path/to/image.jpg">
	<link rel="icon" href="img/favicon/favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
	<!-- Template Basic Images End -->
	
	<!-- Custom Browsers Color Start -->
	<meta name="theme-color" content="#161616">
	<!-- Custom Browsers Color End -->
</head>
<body data-page="cart">
	<div class="container">
		<h1>Корзина. Интернет-магазин</h1>
		<nav>
			<ul class="nav nav-pills">
				<li class="nav-item"><a rel="nofollow" class="nav-link" href="index.html">Каталог</a></li>
				<li class="nav-item"><a rel="nofollow" class="nav-link" href="catalog.html">Каталог с фильтрами</a></li>
				<li class="nav-item"><a rel="nofollow" class="nav-link" href="#">Каталог с пагинацией</a></li>
				<li id="compare-tab" class="nav-item"><a class="nav-link" href="#">Сравнение товаров<span class="badge"></span></a></li>
				<li class="nav-item"><a rel="nofollow" class="nav-link active" href="cart.html">Корзина<span id="total-cart-count" class="badge"></span></a></li>
				<li class="nav-item"><a rel="nofollow" class="nav-link" href="order.html">Оформление заказа</a></li>
			</ul>
		</nav>

		<div class="table-responsive">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
							<th>Артикул</th>
							<th>Название</th>
							<th>Цена</th>
							<th>Количество</th>
							<th>Сумма</th>
							<th></th>
					</tr>
				</thead>
				<tbody id="cart">
						<tr><td colspan="6"><img src="img/loading.gif" alt="" /></td></tr>
				</tbody>
			</table>
		</div>
		<div class="total-count">Итого: <span id="total-cart-summa">64000</span> руб.</div>
		<a class="btn btn-info" href="order.html">Оформить заказ</a>
	</div>

	<script id="cart-template" type="text/template">
    <% _.each(goods, function(good) { %>
        <tr class="cart-item js-cart-item" data-id="<%= good.id %>">
            <td><%= good.id %></td>
            <td><%- good.name %></td>
            <td><%= good.price %> руб.</td>
            <td>
							<span 
									class="cart-item__btn-dec-count js-change-count"
									title="Уменьшить на 1"
									data-id="<%= good.id %>"
									data-delta="-1"
							>
									<span class="fa fa-minus"></span>
                </span>
							<span class="js-count"><%= good.count %></span>
							<span 
									class="cart-item__btn-inc-count js-change-count"
									title="Увеличить на 1"
									data-id="<%= good.id %>"
									data-delta="1"
							>
									<span class="fa fa-plus"></span>
							</span>
            </td>
            <td><span class="js-summa"><%= good.count * good.price %></span> руб.</td>
            <td>
							<span class="cart-item__btn-remove js-remove-from-cart" title="Удалить из корзины" data-id="<%= good.id %>">
									<span class="fa fa-close"></span>                                
							</span>
            </td>
        </tr>
    <% }); %>
	</script>

	<link rel="stylesheet" href="css/main.min.css">
	<script src="js/scripts.min.js"></script>
</body>
</html>